<div *ngIf="details">

  <table>
    <tr>
      <td rowspan="3"><img src="{{details.poster}}" alt="poster picture" style="width:100px;height:150px;"></td>
      <td><h1>{{details.title + ' (' + details.year + ')'}}</h1></td>
    </tr>
    <tr>
      <td style="font-weight:bold">Rating: {{details.imdb_Rating}}/10</td>
    </tr>
    <tr>
      <a href="{{'https://www.youtube.com/watch?v=' + details.youtube_Trailer_Key }}">Watch the YouTube Trailer</a>
    </tr>
  </table>

  <div *ngIf="locations">
    <p style="font-weight:bold">Movie Locations:</p>
    <table>
      <tr>
        <td *ngFor="let loc of locations"><a href={{loc.url}}><img src={{loc.icon}} alt="icon of movie source"></a></td>
      </tr>
    </table>
  </div>
  <p style="font-weight:bold">Description:</p>
  <p>{{details.description}}</p>
  <p style="font-weight:bold">Genres:</p>
  <p>{{ details.genres }}</p>
  <p style="font-weight:bold">Directors:</p>
  <p>{{ details.directors }}</p>
  <p style="font-weight:bold">Stars:</p>
  <p>{{ details.stars }}</p>
  
</div>
<button (click)="goBack()">go back</button>