<h3>Search Menu</h3>
<br>
<p>  
  <a *ngFor="let search of searches" class="col-1-4"
      routerLink="/movies/{{ search.index }}">
    <div class="module search">
      <h4>{{search.name}}</h4>
    </div>
  </a>
</p>
<br><br><br><br><br><br><br><br>
<p class="grid grid-pad">
  <a class="col-1-4"
    routerLink="/movies/1/{{ searchedtitle }}">
  <div class="module search">
    <h4>Search by Title:</h4>
  </div>
  </a>
  <label>
    <input [(ngModel)]="searchedtitle" placeholder="searchedtitle"/>
  </label>
  <br><br><br>
  <span>{{ searchedtitle }}</span>
</p>
