@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to RevFlix!</h1>
    <p></p>
</div>

 <a class="nav-link text-dark" asp-controller="Movie" asp-action="Index">Movies</a>
